*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.txt-div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}